/* work section styling */

.work__container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.work__content {
    display: grid;
    grid-template-columns: repeat(4, minmax(160px, 100%));
    justify-content: center;
    gap: 0px 3px;
}

.work-item {
    position: relative;
    cursor: pointer;
}

.work-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-item__text {
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.3s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-item__text p {
    color: transparent;
    transition: 0.5s;
    transform: scale(0.5);
}

.work-item:hover .work-item__text{
    background: rgba(255, 67, 67, 0.8);
    border: 2px solid #FFFFFF;
}

.work-item:active .work-item__text{
    background: rgba(185, 12, 12, 0.8);
    border: 2px solid #FFFFFF;
}

.work-item:hover .work-item__text p {
    color: #fff;
    transform: scale(1);
}

.work-item__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.work-item__sub {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 21px;
}

@media (max-width: 1200px) {
    .work-item__title {
        font-size: 18px;
        line-height: 21px;
    }
    
    .work-item__sub {
        font-size: 14px;
        line-height: 16px;
        margin-top: 13px;
    }
}

@media (max-width: 992px) {
    .work__content {
        grid-template-columns: repeat(2, minmax(160px, 377px));
    }
}

@media (max-width: 600px) {
    .work-item__sub {
        margin-top: 5px;
    }
}